<!--<p>product-detail</p>-->
<!--<table >-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Price</th>-->
<!--    <th>Description</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let product of products">-->
<!--    <td>Id:{{product.id}}</td>-->
<!--    <td>Id:{{product.name}}</td>-->
<!--    <td>Id:{{product.price}}</td>-->
<!--    <td>Id:{{product.description}}</td>-->
<!--    <td>-->
<!--      <a class="btn btn-info m-2">Detail</a>-->
<!--      <a class="btn btn-warning m-2">Edit</a>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
