<div tabindex="1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Delete</h5>
      </div>
      <div class="modal-body">
        <p class="text-danger">Do you want delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
